server {
    listen 80;
    server_name {{ public_hostname }};
    rewrite ^(.*) https://{{ public_hostname }}$1 permanent;
}

server {
    listen 443;
    server_name {{ public_hostname }};

    ssl on;
    ssl_certificate /etc/ssl/certs/_wildcard_.qa.leonidasoy.fi+intermediate.crt;
    ssl_certificate_key /etc/ssl/private/_wildcard_.qa.leonidasoy.fi.key;

    location / {
        proxy_pass  http://localhost:{{ application_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP  $remote_addr;

        auth_basic            "Demo";
        auth_basic_user_file  /etc/nginx/{{ public_hostname }}.htpasswd;
    }
}
