div  
  h1 Where are my files stored?
  input(type='url', ng-model='url', required)
  input(type='submit', ng-click='queryFile()', name='file')
  leaflet(width='800px', height='800px', center='europeCenter', markers='markers', paths='paths', legend='legend')
 
