@import "mixins"
@import url(https://fonts.googleapis.com/css?family=Ruda:400,700,900);

body, html
  margin 0
  height 100%
  background: rgba(254,254,254,0.9);
  font-family: "Ruda", sans-serif

#cloudmap
  height 100%
  width 100%
  box-sizing border-box
  padding-right 300px

#filters
  position fixed
  right 0
  top 0
  width 300px
  height 100%
  overflow scroll
  padding 1%
  box-sizing border-box

  input[type="range"]
    width 100%
    margin 0 auto
    display block

  .min
    display inline
  .max
    display inline
    float right

  .title
    font-weight 900
    font-size 1.2em
    width 100%
    margin 5px auto
    border-bottom-style solid
    border-bottom-width 1px
    text-align left


#leologo
  display block
  width 192px
  height 50px
  background url(/images/leonidas-logo.jpg)
  background-size 100% 100%
  margin 0 auto

.legend
  padding: 6px 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background: rgba(255,255,255, 0.9);
  line-height: 20px;
  border-radius: 5px;
  color: #555;

.legend i
  color: #777;
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;

.leaflet-popup-content-wrapper
  padding: 1px;
  text-align: center;
  border-radius: 0px;
  background: rgba(100,162,216,0.9);
  height: 127px;
  width: 120px;

.leaflet-popup-content
  margin: 0px 0px;
  line-height: 1.4;
  color: rgba(246,253,254,0.9);

.leaflet-popup-close-button
 visibility: hidden;

.leaflet-popup-tip
  width: 10px;
  height: 10px;
  padding: 1px;
  margin: -10px auto 0;
  background: rgba(100,162,216,0.9);

#chooseButton
  background: rgba(76,141,200,0.9);
  width: 100%;
  color: rgba(246,253,254,0.9);

.slider-filter
  color: rgba(100,162,216,0.9);

.check-box-filter
  color: rgba(100,162,216,0.9);

.pull-down-filter
  color: rgba(100,162,216,0.9);

.viiva
    height: 1px;
    color: rgba(249,249,249,0.9);
    background: rgba(249,249,249,0.9);;
    font-size: 0;
    border: 0;
