@import "mixins"
@import url(https://fonts.googleapis.com/css?family=Ruda:400,700,900)

body, html
  margin 0
  height 100%
  background: rgba(254,254,254,0.9)
  font-family: "Ruda", sans-serif

#cloudmap
  height 100%
  width 100%
  box-sizing border-box
  padding-right 300px

#filters
  position fixed
  right 0
  top 0
  width 300px
  height 100%
  overflow-y scroll
  overflow-x hidden
  padding 1%
  box-sizing border-box
  form
    overflow-x hidden
    overflow-y visible
    clip rect(15px,0,0,125px)
    display block
    padding-right 2px
    padding-top 4px
    position relative
  input[type="range"]
    width 95%
    margin 0 auto
    display block
    -webkit-appearance none
    height 15px
    position relative
    margin-bottom 55px
    border-radius 7px
    background #f4f4f4
    border-radius 20px
    border-top 2px solid #dce2f2
    border-bottom 1px solid #f0f0f0
    &:focus
      box-shadow 0
      outline none
    &::-webkit-slider-thumb
      -webkit-appearance none
      background url(/images/slider-thumb-background.svg) no-repeat #fbfbfb center center
      background-image url(/images/slider-thumb-background.svg) -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#f1f1f1))
      background-size 80%
      width 15px
      height 25px
      border 1px solid #fff
      outline 1px solid #dbdbdb
      content ""
      position relative
      cursor pointer
      &:after
        content ""
        width 265px
        height 15px
        position absolute
        z-index 1
        right 15px
        top 4px
        border-radius 7px 0 0 7px
        background url(/images/slider-background3.png) repeat-x
        background -webkit-gradient(linear, #f088fc 1%, #ddd 70%)
        pointer-events none
        opacity 1
  .slider-left
    display block
    position absolute
    width 10px
    height 17px
    z-index 100
    background url(/images/slider-sides-3.png) no-repeat -5px 1px
    left -4px

  .minmax
    line-height 1
    margin 0 0 5px
    padding 0

  .min
    display inline
    font-size 0.8em
    color #99c4e9
    font-weight 400

  .max
    display inline
    float right
    font-size 0.8em
    color #99c4e9
    font-weight 400

  .title
    font-weight 900
    font-size 1.2em
    width 100%
    margin 5px auto
    border-bottom 1px solid #e9f1f8
    text-align left


#leologo
  display block
  width 192px
  height 50px
  background url(/images/leonidas-logo.jpg)
  background-size 100% 100%
  margin 0 auto
  opacity 0.2

.legend
  padding: 6px 8px
  box-shadow: 0 0 15px rgba(0,0,0,0.2)
  background: rgba(255,255,255, 0.9)
  line-height: 20px
  border-radius: 5px
  color: #555

.legend i
  color: #777
  width: 18px
  height: 18px
  float: left
  margin-right: 8px
  opacity: 0.7

.leaflet-popup
  bottom 38px !important
  left -58px !important

.leaflet-popup-content-wrapper
  text-align: center
  border-radius: 0px
  background: #6ea5d2
  width 120px
  box-shadow 0px 4px 0px 0px #5186b3
  border-radius 2px

.leaflet-popup-content
  margin 0px 0px
  line-height: 1.4
  color: rgba(246,253,254,0.9)
  text-shadow 0px 2px #5d7ea0
  box-shadow 0px 0px 0px 2px #6da4d1
  border 1px solid #abd4f6
  width 100% !important
  border-radius 1px

.leaflet-popup-close-button
 visibility: hidden

.leaflet-popup-tip
  width: 20px
  height: 20px
  padding: 1px
  margin: -17px auto 0
  background #568fc4
  box-shadow 0px 0px 0px 2px #6da4d1
  border 1px solid #abd4f6

.leaflet-marker-icon
  width 29px !important
  height 38px !important

#chooseButton
  background #568fc4
  border-top 2px solid #000
  border 0
  padding 5px
  margin 0
  text-shadow 0px 2px #4574a0
  font-weight 900
  width 100%
  color: rgba(246,253,254,0.9)
  height auto
  margin-top 10px
  cursor pointer
  position relative
  &:after
    content ''
    display block
    left 47px
    border-left 12px solid transparent
    border-right 12px solid transparent
    border-top 10px solid #568fc4
    position absolute
    bottom -10px

.slider-filter
  color: rgba(100,162,216,0.9)
  position relative

.check-box-filter
  color: rgba(100,162,216,0.9)

  .confirm
    display block
    position relative


.pull-down-filter
  color: rgba(100,162,216,0.9)

.viiva
    height: 1px
    color: rgba(249,249,249,0.9)
    background: rgba(249,249,249,0.9)
    font-size: 0
    border: 0

output
  position absolute
  background #fff
  text-align center
  color #6ea5d2
  display inline-block
  font-weight 900
  font-size 0.9em
  border 1px solid #e5ebf1
  bottom 10px
  padding 2px 5px
  left 0
  &:after
    content ""
    position absolute
    width 0
    height 0
    border-bottom 7px solid #fff
    border-left 5px solid transparent
    border-right 5px solid transparent
    top 0
    left 50%
    margin-left -5px
    margin-top -7px
  &:before
    content ""
    position absolute
    width 0
    height 0
    top 0
    left 50%
    margin-left -5px
    margin-top -8px
    border-bottom 7px solid #e5ebf1
    border-left 5px solid transparent
    border-right 5px solid transparent
.memory
  output
    width 60px
    left 90px
.cpu-cores
  output
    width 20px
    left 110px
.storage
  output
    width 70px
    left 85px
.maximum-sim-jobs
  output
    width 20px
    left 110px

input[type="checkbox"]
  position absolute
  z-index 100
  background #fff
  outline 0
  opacity 0
  width 100%
  height 100%
  cursor pointer

  & + label
    padding-left 15px
    margin-right 5px
    position relative
    -webkit-touch-callout none
    -webkit-user-select none
    -khtml-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none
    &:before
      content ""
      position absolute
      left 0
      top 4px
      width 10px
      height 10px
      box-shadow  0 0 0px 1px #d6e4eb
      background #f8f8f8

input[type="checkbox"]:not(:checked) + label:after,
input[type="checkbox"]:checked + label:after
  position absolute
  top 0px
  left 2px
  font-size 14px
  transition all .2s
  color black
  width 6px
  font-family Arial
  -webkit-font-smoothing antialiased
  font-style normal
  font-weight normal
  line-height 1
  -moz-osx-font-smoothing grayscale
  content url(/images/checkbox-background.svg)


input[type="checkbox"]:not(:checked)
  & + label
    &:after
      opacity 0
      transform scale(0)

input[type="checkbox"]:checked
  & + label
    &:after
      opacity 1
      transform scale(1)

input[type="checkbox"]:disabled:not(:checked) + label:before,
input[type="checkbox"]:disabled:checked + label:before
  box-shadow none
  border-color #bbb
  background-color #ddd

input[type="checkbox"]:disabled
  &:checked
    & + label
      &:after
        color #999
  & + label
    color #aaa

[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before
  border none

