doctype html
html(ng-app='app')
  head
    title EASI-CLOUDS GeoFiles Demo
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='vendor/leaflet/leaflet.css')

    script(src='vendor/leaflet/leaflet.js')
    script(src='js/bundle.js')
  body(ng-view)
