doctype html
html(ng-app='app')
  head
    title EASI-CLOUDS GeoFiles Demo
    link(rel='shortcut icon' href="/favicon.ico")
    link(rel='icon' href="/favicon.ico")
    link(rel='stylesheet', href='vendor/leaflet/leaflet.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel="stylesheet" href="css/jquery-ui.min.css")


    script(src='js/bundle.js')
  body(ng-view)
