.check-box-filter
  .title {{ title }}
  p.confirm
    input(type="checkbox", name="Yes", value="Yes")
    label(for="Yes") Yes
    input(type="checkbox", name="No", value="No")
    label(for="No") No
