#cloudmap
	leaflet(height='100%')

#filters
	slider-filter(title='Memory', min='1', max='10', val='9')  
	check-box-filter(title='DataBases', min='1', max='10', val='9')
	pull-down-filter(title='Location', options='{{options}}')