div.location-info
  //h3 <%= title %>
  img(id='logoImage' src!='<%= logourl %>')
  table.main-filters(cellspacing='0' cellpadding='0')
    tr
      td Number of Instances
      td.align-right <%= cpucores %>
    tr.dark
      td RAM
      td.align-right <%= memory %>Gb
    tr
      td Storage
      td.align-right <%= storage %>Gb
    tr
      table.secondary-filters
        tr.dark
          td Databases
            br
            |<%= databases %>
        tr
          td.services Services
            br
            |<%= services %>
  //Optional: button for adding elements to list (remove if not needed)          
  //TODO: not needed anymore a(href!='<%= hostname %>')
  button(id!='button<%= id %>' class='chooseButton') CHOOSE
