div.location-info
  h3 <%= title %>
  table.main-filters(cellspacing='0' cellpadding='0')
    tr.dark
      td RAM
      td.align-right <%= memory %>Gb
    tr
      td CPU cores
      td.align-right <%= cpucores %>
    tr.dark
      td Storage
      td.align-right <%= storage %>Gb
    tr
      table.secondary-filters
        tr
          td Max. simultaneous jobs
            br
            |<%= simultaneousjobs %>
        tr.dark
          td Databases
            br
            |<%= databases %>
        tr
          td.support-security <%= support %>
            br
            |<%= security %>
  a(href='<%= hostname %>')
  button(id='chooseButton') CHOOSE
