.pull-down-filter
  h3 {{ title }}
  pre {{ options }}
  select(name='role')
    option(value='admin', #{foo1} ) Admin
    option(value='editor', #{foo2} ) Editor
    option(value='user', #{foo3} ) User
