div(id="draggablechild")
  table(id="draggablechildtable")
    thead
      tr
        td Matches:
    tbody
      tr(ng-repeat="value in selections" ng-switch="$even")
        td {{value.title}}
        td EU (v2)
        td 5 (+) (-)
        td STOPPED