.slider-filter
  .title {{ title }}
  p.minmax
    span.min {{ min }}{{ unit }}
    span.max {{ max }}{{ unit }}
  form
    span.slider-left
    input.slider-slider(type="range" name="points" min="{{ min }}" step="{{ step }}" max="{{ max }}" ng-model="val")
    output(for="points") {{ val }}{{ unit }}
